footer{
    width: 100%;
    float: left;
    padding: 50px;
    background-color: rgb(249,249,249);
    border-top: 1px solid grey;
    display: flex;
    flex-direction: row;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
}

.mobile ,
.emailname
{
    font-size: 18px;
    
}


.number{
    padding-top: 8px;
}

.number ,
.emaillink{
    font-size: 16px;
}

.face ,
.insta {
    padding-right: 10px;
}