.button5{
    background-color: rgb(214, 214, 233);
    color: black;
   border: 1px solid black;
   text-decoration: none;
   border-radius: 50%;
   justify-content: center;
   cursor: pointer;
   padding: 70px 13px ;
   font-size: 16px;
   font-weight: 600;
   color: rgb(37, 37, 37);
   

}

.button5:hover{
    background-color: rgba(218, 209, 199, 0.774);
}

input{
    font-size: 18px;
    padding: 7px 0px 7px 3px;
    border-radius: 3px;
    border:1px solid black;
    display: block;
    height: 57px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    margin-bottom: 14px;
    width: 100%;
    
   
}


.cell4{
    height: 120px;

}


h3{
    line-height: 30px;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 32px;
}

.phone{
    margin-bottom: 50px;
}

.form{
    
    margin:0px 100px;

}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
    
}

.contact-left{
    margin-top: 60px;
}

.email ,
.emaillink {
    text-decoration: none;
    color: black;
}
