*{
    scroll-behavior: smooth;
}


header{
    z-index: 1000;
    padding-top: 5px;
    line-height: 60px;
    position: relative;
    
    
}


nav{
    position: fixed;
    top: 0px;;
    width:100%;
    
}

nav a {
    position: relative;
    color: black;
    text-decoration: none;
    padding: 9px;
    border-right: 1px solid grey;

    
    cursor: pointer;

}

nav a:nth-child(4){
    border:none;
}

.nav-link1:nth-child(1){
    border:none;
}


nav a:hover {
    color: rgb(223, 155, 219);
}

    


.nav-name{
    text-align: left;
    font-size: 22px;
    margin-left: 8px ;
   



}

.nav-list{
    text-align: right;
    font-size: 18px;
    display: inline-block;
    margin-left: -15px;
   
}

