body{
    margin: 0px;
    height: 1200px;
    padding: 0px;
    
    font-family: Source Sans Pro, Arial;
    font-size: 22px;
    color: black;
    line-height:3px;
   
   

}


section{
    position: relative;
    width: 100%;
    height: 890px;
    display: flex;
    justify-content: center;
    align-items: center;

}

section:nth-child(odd){
    background-color: rgb(249,249,249);
}

section:nth-child(even){
    background-color: rgb(214, 214, 233);
}





* ,
*:before ,
*:after{
 box-sizing: border-box;
}  




.intro{
    width: 100%;
    height: 1000px;
    
    
    
}

.intro-title{
    font-size: 50px;
    font-weight:500;
    margin-top: -120px;
   
}

.subtitle{
    font-size: 25px;
    margin-top: -30px;
    

}

.intro-title ,
.subtitle {
    padding-left: 800px;
    margin-bottom: 100px;
    
    

    
}



.image{
    width:480px;
    height:480px;
    object-fit: contain;
    position: relative;
    left:300px;
    top:230px;
    box-shadow: 0 0 0 #000;
    border-radius:240px;

    

}


.button1 ,
.button2 ,
.button3 ,
.button4 {
     background-color: rgb(214, 214, 233);
     color: black;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 60%;
    justify-content: center;
    cursor: pointer;
    
}
   

.button1:hover{
    background-color: rgba(218, 209, 199, 0.774);
}
    
    

.button2:hover{
    background-color: rgba(218, 209, 199, 0.774);
}

.button3:hover{
    background-color: rgba(218, 209, 199, 0.774);
}

.button4:hover{
    background-color: rgba(218, 209, 199, 0.774);
}



.button1{
    background-color: rgb(214, 214, 233);
    
    padding: 50px  30px;
  
    margin-left: 800px;
}

.button2{
     background-color: rgb(201, 163, 236);
     
     padding: 50px 25px;

}

.button3{
    background-color: rgb(255, 184, 255);
    padding: 50px 37px;
    
}

.button4{
    background-color: rgb(191, 215, 240);
    padding: 50px 20px;
}





/*section5*/


video{
    width:300px;
    height:534px;

    
}






