.block-1 ,
.block-2 ,
.block-3 ,
.block-4 {
    margin: 20px ;
    padding: 5px;
    display:block;
    text-align: center;


}

h1{
font-size: 22px;
padding-bottom: 20px;


}

.p1 ,
.p2 ,
.p3 ,
.p4
{
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    max-width: 700px;
    
}